body {
  	margin-top: 30px; /* Add a top margin to avoid content overlay */
}


.top-nav {
	overflow: hidden;
  	background-color: lightgrey;
  	position: fixed; /* Set the navbar to fixed position */
  	width: 100%; /* Full width */
  	margin-top: 10px;
}

.top-nav a {
	text-align: center;
	font-size: 18px;
  	font-family: "Times New Roman", Times, serif;
  	text-decoration: none;
  	color: black;
  	display: block;
  	padding-top: 12px;
  	padding-bottom: 12px;
  	float:left;
  	width: 25%;
}

.top-nav a:hover {
  	background-color: grey;
  	color: white;
}

.top-nav a.active {
  	border-bottom: 2px solid black;
}

.col-left {
 	float: left;
  	padding: 0 10px 0 0;
	width: 75%;
}

.col-right {
  	float: left;
  	width: 25%;
  	padding-left: 20px;
}


.card {
  	padding: 20px;
 	margin-top: 20px;
 	background: white;
}

.adfakeimg {
  	background-color: #aaa;
  	width: 100%;
  	height: 250px;
  	padding: 20px;
}

.content{
	float: left;
  	padding: 0 10px 0 0;
	width: 75%;
}
.post-movie{
	background-color: #aaa;
  	height:300px;
	float: left;
  	width: 25%;
  	padding-left: 20px;
}

.main:after {
  	content: "";
  	display: table;
  	clear: both;
}

@media screen and (max-width: 800px) {
  .col-left, .col-right {
    width: 100%;
    padding: 0;
    float:none;
  }
}

.return-top{
  	padding: 7px 10px;
}

.more{
	padding: 7px 10px;
	
}
.grid-container {
  	display: grid;
  	grid-gap: 50px;
  	grid-template-columns: auto auto auto;
  	background-color: #f1f1f1;
  	padding-top: 10px;
}

.grid-item {
	display:block;
	width: 100%;
  	background-color: white;
  	padding: 20px;
	font-size: 30px;
  	text-align: center;
}

.save{
	width: 100%;
	padding: 7px 10px;
}

.posts{
	width: 100%;
	padding: 7px 10px;
}