* {
  box-sizing: border-box;
}

body {
  	font-family: "Times New Roman", Times, serif;
  	margin: auto;
  	background: #f1f1f1;
}

.main{
	padding: 20px;
 	margin-top: 120px;
}

.header{
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	position:fixed;
	overflow: hidden;
  	width: 100%; /* Full width */
  	top: 0;
  	background-color: white;
}

.header img{
	float: left;
}

.login-register {
  float: right;
  padding: 14px 16px;
  margin: 8px;
  color: black;
  text-align: center;
  font-size: 16px;
}

.login-button, .register-button{
  text-decoration: none;
}

.header .search-container {
	margin: 8px;
  	float: center;
}

.header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: 0.5 pt solid grey;
  width: 75%;
}

.header .search-container button {
  float: center;
  padding: 6px 10px;
  background: lightgrey;
  font-size: 14px;
  border: none;
}

.top-nav {
	overflow: hidden;
  	background-color: lightgrey;
  	width: 100%; /* Full width */
  	margin-top: 10px;
}

.top-nav a {
	text-align: center;
	font-size: 18px;
  	font-family: "Times New Roman", Times, serif;
  	text-decoration: none;
  	color: black;
  	display: block;
  	padding-top: 12px;
  	padding-bottom: 12px;
  	float:left;
  	width: 25%;
}

.top-nav a:hover {
  	background-color: grey;
  	color: white;
}

.top-nav a.active {
  	border-bottom: 2px solid black;
}

.col-left {
 	float: left;
  	padding: 0 10px 0 0;
	width: 75%;
}

.col-right {
  	float: left;
  	width: 25%;
  	padding-left: 20px;
}


.card {
  	padding: 20px;
 	margin-top: 20px;
 	background: white;
}

.adfakeimg {
  	background-color: #aaa;
  	width: 100%;
  	height: 250px;
  	padding: 20px;
}

.profilepic{
	float: left;
	background-color: #aaa;
	width: 10%;
  	height: 75px;
  	padding: 20px;

}
.content{
	float: left;
  	padding: 0 10px 0 0;
	width: 75%;
}
.post-movie{
	background-color: #aaa;
  	height:300px;
	float: left;
  	width: 25%;
  	padding-left: 20px;
}

.main:after {
  	content: "";
  	display: table;
  	clear: both;
}

@media screen and (max-width: 800px) {
  .col-left, .col-right {
    width: 100%;
    padding: 0;
    float:none;
  }
}

.return-top{
  	padding: 7px 10px;
}

.more{
	padding: 7px 10px;
	
}

.grid-container {
  	display: grid;
  	grid-gap: 50px;
  	grid-template-columns: auto auto auto;
  	background-color: #f1f1f1;
  	padding-top: 10px;
}

.grid-item {
	display:block;
	width: 100%;
  	background-color: white;
  	padding: 20px;
	font-size: 30px;
  	text-align: center;
}

.save, .posts, .all{
	width: 100%;
	padding: 7px 10px;
}
.breadcrumb {
	color: #CCCCCC;
	height: 36px;
	line-height: 36px;
	
}
